#videos{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:14px;
  padding:20px;
}

.card{
  background:#111;
  border-radius:20px;
  overflow:hidden;
  text-decoration:none;
}

.card img{
  width:100%;
  aspect-ratio:9/16;
  object-fit:cover;
  display:block;
}

.info{
  padding:12px;
}

.info h3{
  color:white;
  font-size:16px;
  line-height:1.4;
}

.info span{
  color:#9b59ff;
}
